.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (width < 800px) {
  .nav-links {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    flex: 0 0 auto;
    margin: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .nav-links {
    display: block;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
    position: absolute;
    top: 2rem;
    right: 0.3em;
    width: 150px;
    z-index: 1;
  }
  header > nav li > a:after {
    content: "";
  }
  nav.active .nav-links li {
    margin: 30px 30px;
    text-align: left;
  }
}
