@font-face {
  font-family: "inter";
  src: url("../font/Inter-VariableFont_opsz\,wght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppin";
  src: url("../font/Poppins-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

main p {
  font-family: inter;
  font-weight: bolder;
}
* {
  margin: 0;
  padding: 0;
}
main,
header {
  background-color: #fffdd4;
}
/* NAVBAR */
.navbar {
  padding: 32px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header svg {
  height: 32px;
  width: auto;
  fill: #111;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 4em;
  margin-right: 3em;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-size: clamp(16px, 3vw, 20px);
  font-family: inter;
}

.nav-links a.active {
  text-decoration: underline;
  border-bottom: 2px solid #000;
}

.nav-links a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.nav-links a:hover {
  border-bottom: 2px solid #000;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0 4em 0;
  background-color: #000;
  color: #fffdd4;
}
.logo_footer {
  color: blue;
}

.footer-left a {
  margin-right: 20px;
}
.footer-left {
  margin-left: 2em;
}
.icons a {
  margin-right: 10px;
  display: inline-block;
}

.footer-right p {
  text-align: right;
  font-size: clamp(12px, 3vw, 18px);
  font-family: inter;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2em;
}

.footer-right p br {
  margin: 5px 0;
}
.mail {
  text-decoration: none;
  color: #fffdd4;
}
.mail:hover {
  border-bottom: 1px solid #fffdd4;
}
/* INDEX SECTION */
.hero_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 64px;
  row-gap: 24px;
  align-items: center;
  margin: 0 4em 0em 5em;
  padding-bottom: 5em;
  padding-top: 10m;
}
.index_img {
  border-radius: 40px 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.22);
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.hero {
  font-size: clamp(48px, 8vw, 100px);
  font-family: inter;
}
.hero_btn {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  background-color: #5c4a2d;
  padding: 1em 2em;
  border-radius: 20px 50px;
  margin: 3em 0 3em 5em;
  font-family: inter;
  font-size: clamp(10px, 5vw, 20px);
  cursor: pointer;
}

.hero_btn {
  transition: transform 0.3s ease;
}

.hero_btn:hover {
  transform: scale(1.1);
}
.hero_p {
  line-height: 1.5em;
  font-size: clamp(16px, 3vw, 20px);
}
/* PORTFOLIO */

.h1_portfolio {
  display: grid;
  place-self: center;
  font-family: poppin;
  font-size: clamp(40px, 5vw, 60px);
  margin: 0 0 1.5em 0;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
  margin: 0 6em;
  padding-bottom: 6em;
}

.card {
  background-color: #dcb980;
  border-radius: 20px;
  border: 1px solid black;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.22);
}
.card h2 {
  font-family: inter;
  place-self: center;
}
.card h2:first-child {
  margin-top: 1em;
}
.card a {
  place-self: center;
  text-decoration: none;
  color: #fff;
  background-color: #6d5022;
  border-radius: 12px;
  padding: 0.8em 2.5em;
  font-family: inter;
  place-self: center;
  margin-top: 1em;
  font-size: clamp(12px, 4vw, 22px);
}
.card a {
  transition: transform 0.3s ease;
}

.card a:hover {
  transform: scale(1.1);
}
.card p {
  place-self: center;
  text-align: center;
}

.card-section img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 1em;
}
/* PORTFOLIO CARDS */
.arrow-back {
  text-decoration: none;
  color: #6d5022;
  margin-left: 3em;
  font-size: clamp(20px, 3vw, 30px);
}
.h1-port {
  margin: 0;
}
.port-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.port-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.port-card img {
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.22);
  object-fit: contain;
  max-width: 100%;
}
.port-section h1 {
  display: grid;
  place-self: center;
  font-family: poppin;
  font-size: clamp(40px, 5vw, 60px);
}

.port-card p {
  text-align: left;
  font-size: clamp(12px, 3vw, 18px);
  font-family: inter;
  justify-items: center;
  align-items: center;
  margin: 2em 5em;
}
.port-section a {
  display: grid;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  background-color: #88601f;
  padding: 0.8em 2.7em;
  border-radius: 20px 50px;
  font-family: inter;
  font-size: clamp(10px, 5vw, 25px);
  cursor: pointer;
  justify-items: center;
  align-items: center;
  margin: 2em 0;
}
.introuge a {
  transition: transform 0.3s ease;
}

.introuge a:hover {
  transform: scale(1.1);
}

.btn-section {
  justify-items: center;
  align-items: center;
  display: grid;
  place-self: center;
}
.port-card div:last-child {
  display: grid;
  place-items: center;
}
.btn-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.img_container a {
  background-color: #fffdd4;
  margin: 0em;
}
/* OM MIG */
.h1_om {
  display: grid;
  place-self: center;
  font-family: poppin;
  font-size: clamp(40px, 5vw, 60px);
  margin: 0 0 1em 0;
}
.h2_om {
  font-family: poppin;
  font-size: clamp(15px, 5vw, 30px);
  color: #5c4a2d;
  margin-left: 2em;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.job {
  padding: 0.8em;
  background-color: #dcb980;
  margin: 0.5em 5em 0.5em 3em;
  font-family: inter;
}
.job_p {
  padding: 0.8em;
  margin: 0.5em 5em 0.5em 3em;
  font-family: inter;
}
details p {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
}

details[open] p {
  max-height: 500px;
  opacity: 1;
}
.image-box img {
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.22);
  object-fit: contain;
  max-width: 100%;
}
.image-box {
  place-self: center;
}
.interests ul li {
  list-style-type: disc;
  margin: 0em 3em 0em 4em;
  padding: 1em 0em;
  font-size: clamp(12px, 5vw, 20px);
}
.interests ul li:last-child {
  padding-bottom: 5em;
}

@media (width < 800px) {
  .hero_section {
    grid-template-columns: 1fr;
  }
  .hero_btn {
    margin: 0;
    place-self: center;
  }
  .port-card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .btn-section2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
  .btn-section2 a {
    margin: 0;
  }
  .btn-section2 a:first-child {
    margin-top: 2em;
  }
  .btn-section2 a:last-child {
    margin-bottom: 2em;
    place-self: center;
  }
  .port-section h1 {
    margin-bottom: 0.5em;
  }
  .port-card img {
    margin: 0 2em;
    object-fit: cover;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .image-box img {
    margin: 2em 0;
  }
}
